<div class="container mt-5">
  <div class='d-flex mb-3'>
    <h1 class="ms-4 bold flex-grow-1"><%= @list.title %></h1>
    <div>
      <%#= link_to 'Start Path', "https://www.google.com/maps/dir/#{@route}", class: 'btn btn-ghost me-3' %>
      <%# <%= link_to 'Start Path', "https://www.google.com/maps/dir/?api=1&destination=#{@route}", class: 'btn btn-ghost me-3' %>
    </div>
  </div>
  <div class="ms-4 creater-info">
    <div class="d-flex justify-content-start align-items-center">
      <img class="avatar me-2" src=<%= @list.user.photo.attached? ? cl_image_path(@list.user.photo.key) : '/assets/Ronin.jpg' %> />
      <div class="me-2">
        <p class="h4 bold white mb-0"><%= @list.user.name %></p>
      </div>
      <div class="h4 white mb-0">
        <% if @list.user.instagram_url? %>
          <%#=link_to @list.user.instagram_url, @list.user.instagram_url, target: '_blank'%>
          <%= link_to @list.user.instagram_url do %>
            <i class="fab fa-instagram fa-lg"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="grid review-form">
    <% if @places.any? %>
      <% @places.each do |place| %>
        <div class="card-trip mx-3">
          <%= render 'shared/place_card', place: place %>
        </div>
      <% end %>
    <% else %>
      No places.
    <% end %>
  </div>
</div>
