<div class="container mt-5">
  <div class='d-flex mb-3'>
    <h1 class="ms-1 bold flex-grow-1"><%= @list.title %></h1>
    <div>
      <%#= link_to 'Start Path', "https://www.google.com/maps/dir/#{@route}", class: 'btn btn-ghost me-3' %>
      <%# <%= link_to 'Start Path', "https://www.google.com/maps/dir/?api=1&destination=#{@route}", class: 'btn btn-ghost me-3' %>
    </div>
  </div>
    <% if @places.any? %>
      <% @places.each do |place| %>
        <div class="card-product mb-3">
          <div class="position-relative h-100">
            <img src="<%= place.photos.any? ? cl_image_path(place.photos.first.photo.key) : image_path('Ronin.jpg') %>" />
            <%= link_to '', place_path(place), class: 'card-trip-link' %>
          </div>
          <div class="card-product-infos pt-5">
            <h3> <%= place.name %></h3>
            <div class="d-flex mt-1">
              <h4>
                <% if place.geocode %>
                  <%= link_to "https://www.google.com/maps/dir/?api=1&destination=#{place.geocode.join(',')}", class: "green mb-2" do %>
                    <p><i class="fas fa-map-marked-alt"></i> Directions</p>
                  <% end %>
                <% else %>
                  <i class="fas fa-map-marked-alt"></i> <%= place.address %>
                <% end %>
              </h4>
              <%# place.tag_list.each do |tag| %>
                <%#= link_to tag, tagged_path(tag: tag), class: 'tag-text btn btn-ghost' %>
              <%# end %>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      No places.
    <% end %>
    <div class="creater-info mt-3">
      <hr>
      <div class="d-flex justify-content-start">
        <img class="avatar mx-2" src=<%= @list.user.photo.attached? ? cl_image_path(@list.user.photo.key) : '/assets/Ronin.jpg' %> />
          <div>
              <h4 class="white ms-2"><%= @list.user.name %> <span class="light-gray">created this list.</span></h4>
            <div>
              <% if @list.user.instagram_url? %>
                <p class="green ms-2 mb-0"> <%= link_to @list.user.instagram_url do %> </p>
                  <p><i class="fab fa-instagram fa-lg green ms-2"></i> Follow on instagram</p>
                <% end %>
              <% end %>
            </div>
          </div>
      </div>


          <%#=link_to @list.user.instagram_url, @list.user.instagram_url, target: '_blank'%>
    </div>
</div>
