<% if photo.photo.attached? %>
  <div class="card-home mb-2 mx-1">

    <div class="position-absolute btn-like-place">
      <button style="background: rgba(0,0,0,0); border: none">
        <div class="flex-column icon-active">

          <%# <i class="icon-card white fas fa-heart"</i> %>
          <%#= photo.cached_votes_total %>
          <%#= raise %>
          <%# <button data-action="click->like#photoLike"class="like-button"
            <div class="flex-column icon-active" %>
          <%#= link_to like_photo_path(photo), method: :post, remote: true do %>
            <%# <i class="fas fa-heart <%= 'text-danger' if current_user&.liked?(photo) %></i>
          <%# <% end %>
          <%# </div>
          <%# </button> %>

        </div>
      </button>
    </div>

    <div class="position-relative">
      <% if photo.user.instagram_url %>
        <p class="position-absolute author-tag">by <a href="https://<%= photo.user.instagram_url %>"><%= photo.user.name %></a></p>
      <% else %>
        <p class="position-absolute author-tag"><%= photo.user.name %></p>
      <% end %>
      <img src="<%= cl_image_path(photo.photo.key) %>" class="w-100"/>
      <%= link_to '', place_path(photo.place), class: 'card-trip-link' %>
    </div>

    <div class="container mt-3 my-4">
      <% photo.place.tag_list.each do |tag| %>
        <%= link_to tag, tagged_path(tag: tag), class: 'tag-text btn btn-ghost mb-2' %>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="card-home mb-2 mx-1">
    <div class="position-relative">
      <img src="<%= image_path('Ronin.jpg') %>" class="w-100"/>
      <%= link_to '', place_path(photo.place), class: 'card-trip-link' %>
    </div>
    <div class=" container mt-3 my-4">
      <% photo.place.tag_list.each do |tag| %>
        <%= link_to tag, tagged_path(tag: tag), class: 'tag-text btn btn-ghost mb-2' %>
      <% end %>
    </div>
  </div>
<% end %>
