<div class="container text-center bg-black btn-close-relative" id="form-list" data-new-list-target="formList">
  <div class="vertical-center" data-controller="form-toggle">
    <h2 class="mb-3">Add place</h2>
    <%= simple_form_for place do |f| %>
      <%= f.input :name, input_html: { class: "input input-background text-center" }, label: false, placeholder: 'Place description' %>
      <h3 class="mt-5">Select category</h3>
      <fieldset class="form-group radio_buttons required snippet_category">
        <div class="category-wrapper">
          <input type="hidden" name="place[tag_list][]" value="">
          <% ActsAsTaggableOn::Tag.all.each do |tag| %>
          <div class="category-item flex-column">
            <input class="form-check-input check_boxes required category-selector row" type="checkbox" value="<%= tag.name %>" name="place[tag_list][]" id="snippet_category_id_<%= tag.id %>">
            <label class="form-check-label collection_radio_buttons form-add-tag" for="snippet_category_id_<%= tag.id %>"> <%= tag.name %> </label>
          </div>
          <% end %>
        </div>
      </fieldset>

      <%#= f.input :tag_list,
                value_method: :name,
                legend_tag: false,
                as: :check_boxes,
                collection: ActsAsTaggableOn::Tag.all,
                collection_wrapper_tag: 'div',
                collection_wrapper_class: 'category-wrapper',
                item_wrapper_class: 'category-item',
                input_html: {class: 'category-selector'} %>
      <h3 class="mt-4">Select address</h3>
      <%# using geocoder (comment this part and change the photos_controller.rb) %>
      <%= f.input :address, label: false, input_html: { class: "input input-background text-center" } %>

      <%# Old input method %>
      <%#= f.input :address, label: false,
            wrapper_html: { data: { controller: "geocoder", geocoder_api_key_value: ENV['MAPBOX_API_KEY'] }, class: 'mt-3' },
            input_html: { data: { geocoder_target: 'address' }, class: 'd-none input-small mt-3' } %>
      <%= f.submit 'Add', class: 'btn btn-ghost mt-3' %>
    <% end %>
  </div class="pb-4">
  <button data-action="click->new-list#showForm" class='btn-close'><i class="fas fa-times icon-scale"></i></button>
</div>
<div style="position: relative">
  <div data-new-list-target="background"></div>
</div>
