<div class="card-trip">
  <img src=<%= place.photos.any? ? cl_image_path(place.photos.first.photo.key) : '/assets/Ronin.jpg' %> />
  <%= link_to '', place_path(place), class: 'card-trip-link' %>
  <div class="card-trip-infos mt-2">
    <div class="position-relative p-2 mb-3">
      <div class="d-flex justify-content-between align-items-end">
        <h4 class="bold"><%= place.name %></h3>
        <% if place.average_review > 0 %>
          <h4 class="bold"><%= place.average_review %>  <i class="fas fa-star green"></i></h4>
        <% end %>
      </div>
      <h4 class="green mb-4"><%= place.address %></h4>
      <p>#urban #moody #cityscape #cyberpunk #nightphoto</p>
    </div>
  </div>
</div>
