<div class="position-relative py-2 search-input">
  <div><i id="search" class="green fas fa-search "></i>
    <%= form_tag places_path, method: :get do %>
      <%= text_field_tag :address,
          params[:address],
          class: "form-control input me-3 input-background",
          placeholder: "Search by city"
      %>

      <fieldset class="form-group radio_buttons required snippet_search">
        <div class="d-flex overflow">
          <input type="hidden" name="search[tag_list][]" value="">
          <% ActsAsTaggableOn::Tag.all.each do |tag| %>
            <div class="search-item mt-2 mx-1 text-center">
              <input class="form-check-input check_boxes required search-selector" type="checkbox" value="<%= tag.name %>" name="search[tag_list][]" id="snippet_search_id_<%= tag.id %>" onclick='this.form.submit()' <%= 'checked' if params[:search] && params[:search][:tag_list] && params[:search][:tag_list].include?(tag.name) %>>
              <label class="form-check-label collection_radio_buttons" for="snippet_search_id_<%= tag.id %>">
              <div class="flex-column">
                <i class="<%= tag_class(tag.name) %> tag-big green mb-2"></i>
                <div><%= tag.name %></div>
              </div>
              </label>
            </div>
          <% end %>
        </div>
      </fieldset>
      <%= submit_tag "", class: "btn-absolute btn-search" %>
    <% end %>
  </div>
</div>
