<div class="position-relative py-2 search-input">
  <div><i id="search" class="green fas fa-search "></i>
    <%= form_tag places_path, method: :get do %>
      <%= text_field_tag :address,
          params[:address],
          class: "form-control input me-3 input-background",
          placeholder: "Search by city"
      %>

      <fieldset class="form-group radio_buttons required snippet_search">
        <div class="search-wrapper">
          <input type="hidden" name="search[tag_list][]" value="">
          <% ActsAsTaggableOn::Tag.all.each do |tag| %>
            <div class="search-item my-2 text-center">
              <input class="form-check-input check_boxes required search-selector" type="checkbox" value="<%= tag.name %>" name="search[tag_list][]" id="snippet_search_id_<%= tag.id %>">
              <label class="form-check-label collection_radio_buttons" for="snippet_search_id_<%= tag.id %>"> <i class="<%= tag_class(tag.name) %> tag-big green m-2"></i> <%= tag.name %> </label>
            </div>
          <% end %>
        </div>
      </fieldset>

      <%= submit_tag "", class: "btn-absolute btn-search" %>
    <% end %>
  </div>
</div>
