<div class="card-map">
  <%= link_to "", place_path(place), class: 'card-category-link' %>
  <img src='<%= place.photos.any? ? cl_image_path(place.photos.first.photo.key) : image_path('Ronin.jpg') %>'>

  <div class="infos-small">
    <div class="description-capacity p-3">
      <h3><%= place.name %></h2>
      <div class="d-flex justify-content-between">
        <p class="green"><i class="fas fa-map-marker"></i> <%= place.address %></p>
        <p class="bold"><%= rand(3..5) %>  <i class="fas fa-star green"></i></p>
      </div>
    </div>
  </div>
</div>
