<div class="container">
  <div class="card-trip position-relative mt-5">

    <%# TODO Made this placeholder for "LIKE", not functional yet %>

    <div class="position-absolute btn-like-place" data-controller="new-list">
      <button data-new-list-target="popupButton" data-action="click->new-list#showForm" style="background: rgba(0,0,0,0); border: none">
        <div class="flex-column icon-active">
          <i class="icon-card white fas fa-heart"></i>
        </div>
      </button>
    </div>

    <div class="position-absolute btn-add-list" data-controller="new-list">
      <button data-new-list-target="popupButton" data-action="click->new-list#showForm" style="background: rgba(0,0,0,0); border: none">
        <div class="flex-column icon-active">
          <i class="icon-card white fas fa-plus"></i>
        </div>
      </button>

      <div class="container text-center bg-black btn-close-relative" id="form-list" data-new-list-target="formList">
        <div class="vertical-center" data-controller="form-toggle">
          <% if @lists.any? %>
            <div data-form-toggle-target="list" class='d-none'>
              <%= render 'shared/new_marker', place: @place, marker: @marker, lists: @lists %>
            </div>
            <div data-form-toggle-target="new">
              <%= render 'shared/new_list', list: @list %>
            </div>
              <button data-form-toggle-target="button" data-action="click->form-toggle#formDisplay" class='btn btn-ghost mt-3'>Existing list</button>
          <% else %>
            <%= render 'shared/new_list', list: @list %>
          <% end %>
        </div>
        <button data-action="click->new-list#showForm" class='btn-close'>✖</button>
      </div>
    </div>
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src=<%= @place.photos.any? ? cl_image_path(@place.photos.first.photo.key) : '/assets/Ronin.jpg' %> class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src=<%= @place.photos.any? ? cl_image_path(@place.photos.first.photo.key) : '/assets/Ronin.jpg' %> class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src=<%= @place.photos.any? ? cl_image_path(@place.photos.first.photo.key) : '/assets/Ronin.jpg' %> class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src=<%= @place.photos.any? ? cl_image_path(@place.photos.first.photo.key) : '/assets/Ronin.jpg' %> class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src=<%= @place.photos.any? ? cl_image_path(@place.photos.first.photo.key) : '/assets/Ronin.jpg' %> class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <div class="card-trip-infos mt-3">
      <div class="position-relative">
        <div class="d-flex justify-content-between">
          <h4 class="bold mt-1"><%= @place.name %></h3>
          <h4 class="bold">5.0  <i class="fas fa-star yellow"></i></h4>
        </div>
        <h4 class="green mb-4"><%= @place.address %></h4>
        <p>This place is #urban, #moody, #cityscape, #cyberpunk and #nightphoto</p>
      </div>
    </div>
    <div class="mt-5">
      <div data-map-toggle-target="map">
      <%= render 'map', marker: [@pin] %>
        </div>
    </div>
  </div>

  <div class="d-flex justify-content-between px-3 mt-5">
    <h2>Reviews</h2>
  </div>
    <div class="container mt-3">
      <div class="position-relative">
        <%= simple_form_for [@place, @review] do |f| %>
          <%= f.input :content,
                      class: "form-control-custom rounded-corner mt-1 input-background",
                      rows: 5,
                      label: false,
                      id: "form-list",
                      placeholder: "Your comment",
                      input_html: { autocomplete: "Comment" } %>
        <div class="star-rating mb-3">
          <% 5.times do |i| %>
            <input type="radio" name="review[rating]" value="<%= i + 1 %>" <%= "checked" if i == 2 %> />
          <% end %>
        </div>
        <%= button_tag type: "submit", class: "btn btn-ghost position-absolute position-submit-review" do %>
              Post
        <% end %>
      </div>
    <% end %>
    <%  @reviews.each do |review| %>
      <div class="light-gray pb-3 mt-5">
        <div class="d-flex justify-content-between">
          <div class="d-flex">
            <p class="light-gray me-3">Username</p>
            <p class="white bold"><%= review.rating %> <i class="icon-big green fas fa-star mb-1"></i></p>
          </div>
          <p>Posted <%= (Time.now - review.created_at).to_i / (24 * 60 * 60)  %> days ago</p>
        </div>
        <p><%= review.content %></p>
      </div>
    <% end %>
    </div>
</div>
