<div class="position-relative">
  <div class="container margin-bottom" data-photo-popup-target="page">
    <div class="card-trip mt-3">
      <%# TODO Made this placeholder for "LIKE", not functional yet %>
      <% if current_user %>
        <div class="position-absolute btn-add-list" data-controller="new-list">
          <button data-new-list-target="popupButton" data-action="click->new-list#showForm" style="background: rgba(0,0,0,0); border: none">
            <div class="d-flex align-items-start icon-active white opacity">
              <i class="icon-card white fas fa-plus me-1"></i>
              <h4> Add to a list</h4>
            </div>
          </button>
          <div class="container text-center bg-black btn-close-relative" id="form-list" data-new-list-target="formList">
            <div data-new-list-target="background"></div>
            <div class="vertical-center-list" data-controller="form-toggle">
              <% if @lists.any? %>
                <div data-form-toggle-target="list" class='d-none'>
                  <%= render 'shared/new_marker', place: @place, marker: @marker, lists: @lists %>
                </div>
                <div data-form-toggle-target="new">
                  <%= render 'shared/new_list', list: @list %>
                </div>
                <button data-form-toggle-target="button" data-action="click->form-toggle#formDisplay" class='btn btn-ghost mt-3 position-absolute position-existing-btn'>Existing list</button>
              <% else %>
                <%= render 'shared/new_list', list: @list %>
              <% end %>
            </div>
            <button data-action="click->new-list#showForm" class='btn-close'><i class="fas fa-times icon-scale"></i></button>
          </div>
        </div>
      <% end %>

      <div class="container">
        <div class="position-relative p-2 mb-3">
          <div class="d-flex justify-content-between align-items-end">
            <h3 class="bold mt-1 "><%= @place.name %></h3>
            <h4 class=""><%= @place.average_review %>  <i class="fas fa-star green bold"></i></h4>
          </div>
          <h4>
            <% if @place.geocode %>
              <%= link_to "https://www.google.com/maps/dir/#{@place.geocode.join(',')}", class: "green mb-2" do %>
                <i class="fas fa-map-marked-alt"></i> <%= @place.address.split(',')[0..1].join(',') %>
              <% end %>
            <% else %>
              <i class="fas fa-map-marked-alt"></i> <%= @place.address %>
            <% end %>
          </h4>
          <div class="mt-4">
            <% @place.tag_list.each do |tag| %>
              <%= link_to tag, tagged_path(tag: tag), class: 'tag-text btn btn-ghost' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div data-controller="carousel-map">
      <%= render 'shared/carousel', place: @place %>
      <%= render 'map_show', marker: @pin %>
    </div>

    <div class="mt-3 mb-5">
      <%= render 'new_photo', place: @place %>
    </div>
    <div class="container">
    <div class="d-flex justify-content-between mt-3">
      <h2>Reviews</h2>
    </div>
    <div class="position-relative review-form">
      <%= simple_form_for [@place, @review] do |f| %>
        <%= f.input :content,
                    class: "form-control-custom rounded-corner input-background",
                    rows: 5,
                    label: false,
                    id: "form-list",
                    placeholder: "Your comment",
                    input_html: { autocomplete: "Comment" } %>
        <div class="star-rating">
          <% 5.times do |i| %>
            <input type="radio" name="review[rating]" value="<%= i + 1 %>" <%= "checked" if i == 2 %> />
          <% end %>
        </div>
        <%= button_tag type: "submit", class: "btn btn-ghost position-absolute position-submit-review" do %>
          Post
        <% end %>
      <% end %>
    </div>
    <% @place.reviews.each do |review| %>
      <div class="light-gray pb-4">
        <div class="d-flex justify-content-between align-items-top">
          <div class="icon-name d-flex justify-content-start align-items-center">
            <div class="icon">
              <img class="avatar" src=<%= review.user.photo.attached? ? cl_image_path(review.user.photo.key) : image_path('Ronin.jpg') %> />
            </div>
            <div class="reviews-name ms-2">
              <p class="h4 white mb-0 bold align-middle"><%= review.user.name %></p>
              <p class="gray"><%= time_ago_in_words(review.created_at) %> ago</p>
            </div>
          </div>
          <div class="reviews-star">
            <% (review.rating).times do%>
              <i class="icon-star green fas fa-star"></i>
            <% end %>
          </div>
        </div>
      </div>
      <p class="white reviews-content mb-3"><%= review.content %></p>
      <hr>
      <% end %>
    </div>
  </div>
</div>
