<div class="position-relative">

  <%= render 'photo_popup', place: @place %>

  <div class="container" data-photo-popup-target="page">
    <div class="card-trip mt-3">

      <%# TODO Made this placeholder for "LIKE", not functional yet %>

      <% if current_user %>
        <div class="position-absolute btn-like-place" data-controller="new-list">
          <button data-new-list-target="popupButton" data-action="click->new-list#showForm" style="background: rgba(0,0,0,0); border: none">
            <div class="flex-column icon-active">
              <i class="icon-card white fas fa-heart"></i>
            </div>
          </button>
        </div>

        <div class="position-absolute btn-add-list" data-controller="new-list">
          <button data-new-list-target="popupButton" data-action="click->new-list#showForm" style="background: rgba(0,0,0,0); border: none">
            <div class="flex-column icon-active">
              <i class="icon-card white fas fa-plus"></i>
            </div>
          </button>

          <div class="container text-center bg-black btn-close-relative" id="form-list" data-new-list-target="formList">
            <div class="vertical-center position-relative" data-controller="form-toggle">
              <% if @lists.any? %>
                <div data-form-toggle-target="list" class='d-none'>
                  <%= render 'shared/new_marker', place: @place, marker: @marker, lists: @lists %>
                </div>
                <div data-form-toggle-target="new">
                  <%= render 'shared/new_list', list: @list %>
                </div>
                  <button data-form-toggle-target="button" data-action="click->form-toggle#formDisplay" class='btn btn-ghost mt-3 position-absolute position-existing'>Existing list</button>
              <% else %>
                <%= render 'shared/new_list', list: @list %>
              <% end %>
            </div>
            <button data-action="click->new-list#showForm" class='btn-close'><i class="fas fa-times icon-scale"></i></button>
          </div>
        </div>
      <% end %>

      <% if @place.photos.any? %>
        <div class="photo-carousel" style="background: url(<%= cl_image_path(@place.photos.first.photo.key) %>)" data-action="click->photo-popup#show">
        </div>
      <% else %>
        <div class="photo-carousel" style="background: url(<%= image_path('Ronin.jpg') %>)">
        </div>
      <% end %>

      <div class="card-trip-infos mt-2">
        <div class="position-relative p-2 mb-3">
          <div class="d-flex justify-content-between align-items-end">
            <h4 class="bold mt-1 "><%= @place.name %></h3>
            <h4 class="bold"><%= @place.average_review %>  <i class="fas fa-star green"></i></h4>
          </div>
          <h4 class="green mb-2"><%= @place.address %></h4>
          <p>#urban #moody #cityscape #cyberpunk #nightphoto</p>
        </div>
        <h4 class="green mb-2"><%= @place.address %></h4>
        <% @place.tag_list.each do |tag| %>
          <%= tag %>
        <% end %>
      </div>

      <div class="mt-3">
        <div data-map-toggle-target="map">
          <%= render 'map_show', marker: [@pin] %>
        </div>
      </div>
    </div>
    <div class="mt-3">
      <%= render 'new_photo', place: @place %>
    </div>

    <div class="d-flex justify-content-between px-3 mt-5">
      <h2>Reviews</h2>
    </div>

  <div class="container mt-3">
    <%  @place.reviews.each do |review| %>
      <div class="light-gray pb-3 mt-5">
        <div class="d-flex justify-content-between">
          <div class="reviews-name">
            <p class="h3 white mb-0 bold"><%= review.user.name %></p>
          </div>
          <div class="reviews-star">
            <% (review.rating).times do%>
              <i class="icon-big green fas fa-star mb-1"></i>
            <% end %>
          </div>
        </div>
        <p class="gray"><%= time_ago_in_words(review.created_at) %> ago</p>
        <p class="white reviews-content"><%= review.content %></p>
      </div>
    <% end %>
    <div class="position-relative">
      <%= simple_form_for [@place, @review] do |f| %>
        <%= f.input :content,
                    class: "form-control-custom rounded-corner mt-1 input-background",
                    rows: 5,
                    label: false,
                    id: "form-list",
                    placeholder: "Your comment",
                    input_html: { autocomplete: "Comment" } %>
        <div class="star-rating mb-3">
          <% 5.times do |i| %>
            <input type="radio" name="review[rating]" value="<%= i + 1 %>" <%= "checked" if i == 2 %> />
          <% end %>
        <% end %>
      </div>
      <%  @place.reviews.each do |review| %>
        <div class="light-gray pb-3 mt-5">

          <div class="d-flex justify-content-between">
            <div class="reviews-name">
              <p class="h3 white mb-0 bold"><%= review.user.name %></p>
            </div>
            <div class="reviews-star">
              <% (review.rating).times do%>
                <i class="icon-big green fas fa-star mb-1"></i>
              <% end %>
            </div>
          </div>
          <p class="gray"><%= time_ago_in_words(review.created_at) %> ago</p>
          <p class="white reviews-content"><%= review.content %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>
