<%# <div class="card-trip"> %>
  <div class="card-show row">
    <% if @place.photos.any? %>
      <% @place.photos.first(3).each do |photo| %>
        <div class="card-trip mb-3 col-4">
          <%= image_tag cl_image_path(photo.photo.key) %>
        </div>
      <% end %>
    <% else %>
        <%= image_tag '/assets/Ronin.jpg' %>
    <% end %>
    <div class="card-trip-info">
      <div class="position-relative">
        <div class="d-flex justify-content-between mt-5">
          <h2 class="bold"><%= @place.name %></h3>
          <h3 class="bold">5.0  <i class="fas fa-star green"></i></h4>
        </div>
        <h3 class="green mb-4"><%= @place.address %></h4>
        <p class="">This place is #urban, #moody, #cityscape, #cyberpunk and #nightphoto</p>
      </div>
    </div>
  </div>
<%# </div> %>

    <%# <div class="card-trip-infos">
      <div class="info-middle">
        <i class="fas fa-calendar"></i>
        <i class="fas fa-camera"></i>
        <p>camera model</p>
      </div>
    </div> %>

<%# </div> %>

<div data-controller="new-marker">
  <button data-new-list-target="popupButton" data-action="click->new-marker#showForm" style="background: rgba(0,0,0,0); border: none">
    <div class="flex-column icon-active">
      <i class="icon-big gray fas fa-plus"></i><p class="icon-text">Add to List</p>
    </div>
  </button>

  <div class="container text-center bg-black btn-close-relative" id="form-list" data-new-marker-target="formList">

    <div class="vertical-center" data-controller="form-toggle">
      <% if @lists.any? %>
        <div data-form-toggle-target="list" class='d-none'>
          <%= render 'shared/new_marker', place: @place, marker: @marker, lists: @lists %>
        </div>
        <div data-form-toggle-target="new">
          <%= render 'shared/new_list', list: @list %>
        </div>
        <button data-form-toggle-target="button" data-action="click->form-toggle#formDisplay" class='btn btn-ghost mt-3'>Existing list</button>
      <% else %>
        <%= render 'shared/new_list', list: @list %>
      <% end %>
    </div>
    <button data-action="click->new-marker#showForm" class='btn-close'>✖</button>
</div>
